.add-order{
  width: 100%;
}

.addorder-form{
  overflow:scroll;
}

.form-part1{
  width: 50%;
}

.form-part2{
  width: 50%;
}

.ord1-field{
  width:100%
}

.ord2-field{
  width:100%
}

.ord3-field{
  width:100%
}

.ord4-field{
  width:100%
}

.upload-btn{
  background: green;
  color: white;
}

.reset-btn{
  background: red;
  color: white;
}
.btn{
  background-color: honeydew;
  color: black;
  height: 30px;
  width: 20px;
}
