.add-order{
  width: 100%;
}
.form-part1{
  width: 50%;
}

.form-part2{
  width: 50%;
}

.ord1-field{
  width:100%
}

.ord2-field{
  width:100%
}

.ord3-field{
  width:100%
}

.ord4-field{
  width:100%
}

.upload-btn{
  background: green;
  color: white;
}

.reset-btn{
  background: red;
  color: white;
}
.search-btn{
  background: rgb(41, 74, 124);
  color: white;
  height: 30px;
  width:40px;
  border-radius: 5px;
}
.route-btn{
  background: rgb(41, 74, 124);
  color: white;
  height: 30px;
  width:40px;
  border-radius: 5px;
}