<div class="form-head" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <h2>Add Order Details</h2>
  <button class="upload-btn" mat-raised-button>Bulk Upload
    <mat-icon>upload</mat-icon>
  </button>
</div>


<form (ngSubmit)="onSubmit()" class="addorder-form">
  <div class="add-order" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <div class="form-part1">
      <mat-card class="ord1">
        <div>
          <mat-form-field class="ord1-field">
            <mat-label>Invoice Number</mat-label>
            <input type="text" matInput placeholder="4545dfgf" [(ngModel)]="order.invoice_no" name="invoice_no">
          </mat-form-field>
          <br>
          <mat-form-field class="ord1-field">
            <mat-label>Customer ID</mat-label>
            <input type="text" matInput placeholder="4545dfgf" [(ngModel)]="order.customer_id" name="customer_id">
          </mat-form-field>
          <button class="search-btn" type= "button"  (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        <br>
          <mat-form-field class="ord1-field">
            <mat-label>Customer Name</mat-label>
            <input type="text"  matInput placeholder="John" [(ngModel)]="order.customer_name" name="customer_name">
          </mat-form-field>
          <br>
        </div>
      </mat-card>
      <br><br>

      <mat-card class="ord2">
        <div>
          <mat-form-field class="ord2-field">
            <mat-label>Item Type</mat-label>
            <mat-select [(ngModel)]="order.item_type" name="item_type">
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Special">Special</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="ord2-field">
          <mat-label>Sales Agent</mat-label>
          <mat-select [(ngModel)]="order.sales_agent" name="sales_agent">
            <mat-option value="">- Select -</mat-option>
            <mat-option *ngFor="let sales_agent of sales_agents" [value]="sales_agent.first_name">{{sales_agent.first_name}} {{sales_agent.last_name}}  </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
           <mat-form-field class="ord2-field">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="order.order_date" name="order_date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field class="ord2-field">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="order.status" name="status">
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Delivered">Delivered</mat-option>
            <mat-option value="Delivery Ready">Delivery Ready</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
       </div>
      </mat-card>
    </div>


    <div class="form-part2">
      <div class="ord3">
        Address
    <br>
   <mat-card>
    <div>
      <mat-form-field class="ord3-field">
        <mat-label>Address Line 1</mat-label>
        <input type="text" matInput placeholder="No.24" [(ngModel)]="order.address_ln1" name="address_ln1">
      </mat-form-field>
      <br>
      <mat-form-field class="ord3-field">
        <mat-label>Address Line 2</mat-label>
        <input type="text" matInput placeholder="Dalugama" [(ngModel)]="order.address_ln2" name="address_ln2">
      </mat-form-field>
      <br>
      <mat-form-field class="ord3-field">
        <mat-label>City/District</mat-label>
        <input type="text" matInput placeholder="Kelaniya" (change)="routeSelector()" [(ngModel)]="order.city" name="city">
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Route</mat-label>
        <mat-select [(ngModel)]="order.route" name="route">
          <mat-option value="R1">R1</mat-option>
          <mat-option value="R2">R2</mat-option>
          <mat-option value="R3">R3</mat-option>
          <mat-option value="R4">R4</mat-option>
          <mat-option value="R5">R5</mat-option>
        </mat-select>
      </mat-form-field> -->
      <br>
     </div>
   </mat-card>
      </div>
      <br><br>
      <mat-card class="ord4">
        <mat-form-field class="ord4-field">
          <mat-label>Province</mat-label>
          <mat-select [(ngModel)]="order.province" name="province">
            <mat-option value="Central">Central</mat-option>
            <mat-option value="Eastern">Eastern</mat-option>
            <mat-option value="North Central">North Central</mat-option>
            <mat-option value="Nothern">Nothern</mat-option>
            <mat-option value="North Western">North Western</mat-option>
            <mat-option value="Sabaragamuwa">Sabaragamuwa</mat-option>
            <mat-option value="Southern">Southern</mat-option>
            <mat-option value="Uva">Uva</mat-option>
            <mat-option value="Western">Western</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button class="route-btn" type= "button"   (click)="route()">
          <mat-icon>autorenew</mat-icon>
        </button>
        <h3>Selected Route: {{order.route}}</h3>
        <mat-form-field>
          <mat-label>Route</mat-label>
          <mat-select [(ngModel)]="order.route" name="route">
            <mat-option value="R1">R1</mat-option>
            <mat-option value="R2">R2</mat-option>
            <mat-option value="R3">R3</mat-option>
            <mat-option value="R4">R4</mat-option>
            <mat-option value="R5">R5</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
  </div>
  <br><br>
  <mat-divider></mat-divider>
  <br><br>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="form-part3">
      <button class="submit-btn" mat-raised-button color="primary" click="onSubmit()">SUBMIT</button>
    <button class="reset-btn" mat-raised-button click="reset()">RESET</button>
    </div>
  </form>
