.users{
  overflow: scroll;
}
table {
    width: 100%;
  }
<<<<<<< HEAD
.add-admin1{
  width:50%;
}

.add-admin2{
  width:50%;
}

.addadmin-field{
  width:100%;
}

.reset-btn{
  color: white;
  background: red;
=======
.edit_btn{
  color: red;
  font-weight: bold;
>>>>>>> 9a0660a4ae7d1f1b8a05812e02cf32acd7e12324
}

