.users{
  overflow: scroll;
}
table {
    width: 100%;
  }
.add-admin1{
  width:50%;
}

.add-admin2{
  width:50%;
}

.addadmin-field{
  width:100%;
}

.reset-btn{
  color: white;
  background: red;
}

