table {
  width: 100%;
}
.dlt_btn{
  color: red;
}

.form-part1{
  width: 50%;
}

.form-part2{
  width: 50%;
}

.drive1-field{
  width: 100%;
}

.drive2-field{
  width: 100%;
}

.drive3-field{
  width: 100%;
}

.drive4-field{
  width: 100%;
}
