<div *ngIf="drivers?.length>0;else noDrivers">
  <table mat-table [dataSource]="drivers" class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="driver_id">
      <th mat-header-cell *matHeaderCellDef> Driver ID </th>
      <td mat-cell *matCellDef="let drivers"> {{drivers.driver_id}} </td>
    </ng-container> -->
    <ng-container matColumnDef="driver_name">
      <th mat-header-cell *matHeaderCellDef>Driver Name</th>
      <td mat-cell *matCellDef="let drivers"> {{drivers.first_name}}  {{drivers.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="license_no">
      <th mat-header-cell *matHeaderCellDef>License Number</th>
      <td mat-cell *matCellDef="let drivers"> {{drivers.license_no}} </td>
    </ng-container>
    <ng-container matColumnDef="license_expiry">
      <th mat-header-cell *matHeaderCellDef>License Expiry Date</th>
      <td mat-cell *matCellDef="let drivers"> {{drivers.license_expiry.seconds*1000 | date}} </td>
    </ng-container>
    <ng-container matColumnDef="mobile_no">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let drivers"> {{drivers.mobile_no}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let drivers">
        <button mat-icon-button class="edit_btn" (click)="callEditDialog()" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let drivers">
        <button mat-icon-button class="dlt_btn" (click)="callDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="driverColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: driverColumns;"></tr>

    <ng-template #callEDITDialog *ngFor="let driver of drivers">
      <div class="add-driver">
        <h2>Edit Driver Details</h2>
      <form (ngSubmit)="editDriver(driver)" class="adddriver-form">
        <div fxLayoutAlign="space-between start" fxLayoutGap="20px" class="driver-form">


      <div class="form-part1">

        <mat-card class="drive1">
          <div>
            <mat-form-field class="drive1-field">
              <mat-label>First Name</mat-label>
              <input type="text" matInput placeholder="John" [(ngModel)]="driver.first_name" name="first_name">
            </mat-form-field>
            <br>
            <mat-form-field class="drive1-field">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput placeholder="Doe" [(ngModel)]="driver.last_name" name="last_name">
            </mat-form-field>
            <br>
            <mat-form-field class="drive1-field">
              <mat-label>DOB: {{driver.dob.seconds*1000 | date}}</mat-label>
              <input matInput [matDatepicker]="picker2" [(ngModel)]="driver.dob" name="dob">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-card>

        <div class="drive2">
          <br><br>
          <mat-divider></mat-divider>
          <br>
          License Details
        <br><br>
        <mat-card>
          <div>
            <mat-form-field class="drive2-field">
              <mat-label>License Number</mat-label>
              <input type="text" matInput placeholder="4545dfgf" [(ngModel)]="driver.license_no" name="license_no">
            </mat-form-field>
            <br>

             <mat-form-field class="drive2-field">
            <mat-label>License Expiry:{{driver.license_expiry.seconds*1000 | date}}</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="driver.license_expiry" name="license_expiry">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <br>
          </div>
        </mat-card>
        </div>

      </div>

      <div class="form-part2">

        <div class="drive3">
          Address:
        <br><br>
        <mat-card>
          <div>
            <mat-form-field class="drive3-field">
              <mat-label>Address Line 1</mat-label>
              <input type="text" matInput placeholder="No.24" [(ngModel)]="driver.address_ln1" name="address_ln1">
            </mat-form-field>
            <br>
            <mat-form-field class="drive3-field">
              <mat-label>Address Line 2</mat-label>
              <input type="text" matInput placeholder="Dalugama" [(ngModel)]="driver.address_ln2" name="address_ln2">
            </mat-form-field>
            <br>
            <mat-form-field class="drive3-field">
              <mat-label>City/District</mat-label>
              <input type="text" matInput placeholder="Kelaniya" [(ngModel)]="driver.city" name="city">
            </mat-form-field>
            <br>
           </div>
        </mat-card>
        </div>

        <br><br>
        <mat-divider></mat-divider>
        <br>
        Contact Details:
        <br><br>

        <mat-card class="drive4">
          <mat-form-field class="drive4-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="abc@gmail.com" [(ngModel)]="driver.email" name="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field class="drive4-field">
            <mat-label>Mobile No.</mat-label>
            <input type="text" matInput placeholder="714568424" maxlength="9" [(ngModel)]="driver.mobile_no" name="mobile_no">
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </mat-card>
      </div>

        </div>

       <br><br>
        <mat-divider></mat-divider>
        <br>

        <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px" class="form-part3">
          <button class="reset-btn" mat-raised-button [mat-dialog-close]="">CANCEL</button>
          <button class="submit-btn" mat-raised-button [mat-dialog-close]="" color="primary" (click)="editDriver(driver)">SUBMIT</button>
        </div>
      </form>



      </div>

</ng-template>

    <ng-template #callDLTDialog *ngFor="let driver of drivers">
      <h1 mat-dialog-title>Alert!</h1>
      <div mat-dialog-content>
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
        <button mat-raised-button [mat-dialog-close]="">CANCEL</button>
        <button mat-raised-button [mat-dialog-close]="" (click)="deleteDriver(driver)" color="primary">YES</button>
      </div>
</ng-template>
  </table>
  </div>

  <ng-template #noDrivers>
    <hr>
    <h5>There are no current drivers registered</h5>
  </ng-template>





