<div>
  <p>Please update the status of the invoice:</p>
</div>
<mat-form-field class="ord2-field">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="Tstatus" name="status">
      <mat-option value="Delivered">Delivered</mat-option>
      <mat-option value="Not Delivered">Not delivered</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <input type="file" (change)="onFileSelected($event)">
  <br><br>
  <div  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">
    <button class="submit-btn" mat-raised-button color="primary" (click) = 'onSubmit()' >SUBMIT</button>
    <button class="button" mat-raised-button (click)='close()'>Close</button>
  </div>
