<br>
<div class="form-head" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <h2>Add Customer Details</h2>
  <button class="upload-btn" type="button"  routerLink="/cusupload" routerLinkActive="active" mat-raised-button>Bulk Upload
    <mat-icon>upload</mat-icon>
  </button>
</div>

<form (ngSubmit)="onSubmit()" class="addcustomer-form">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <!-- <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px"> -->
    <mat-card class="cus1">
      <div >
        <mat-form-field class="cus1-field">
          <mat-label>Customer ID</mat-label>
          <input type="text" matInput placeholder="4545dfgf" [(ngModel)]="customer.customer_id" name="customer_id">
        </mat-form-field>
        <br>
        <mat-form-field class="cus1-field">
          <mat-label>Customer/Company Name</mat-label>
          <input type="text" matInput placeholder="John" [(ngModel)]="customer.name" name="customer_name">
        </mat-form-field>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
          <mat-form-field class="cus1-field1">
            <mat-label>Sales Agent ID</mat-label>
            <input type="text" matInput placeholder="456664" [(ngModel)]="customer.sa_id" name="sa_id">
          </mat-form-field>
          <button mat-raised-button class="cus1-field2" type= "button" color="primary" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <mat-form-field class="cus1-field">
        <mat-label>Sales Agent</mat-label>
          <input type="text" matInput placeholder="John Doe" [(ngModel)]="customer.sales_agent" name="sa_name">
        </mat-form-field>
        <br>
      </div>
    </mat-card>
    <mat-card class="cus2">
      <div>
        <mat-form-field class="cus2-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="abc@gmail.com" [(ngModel)]="customer.email" name="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="cus2-field">
          <mat-label>Mobile No.</mat-label>
          <input type="text" matInput placeholder="714568424" maxlength="10" [(ngModel)]="customer.tel_no" name="tel_no">
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="cus2-field">
          <mat-label>Distance from RLH</mat-label>
          <input type="number" matInput placeholder="km"  [(ngModel)]="customer.distance" name="distance">
        </mat-form-field>
      <br>
      </div>
    </mat-card>
    <!-- </div> -->
  </div>
  <br><br>
  <mat-divider>
  </mat-divider>
  <br>
  <h2>Address</h2>
  <div fxLayout="row" fxLayoutAlign="space-between start " fxLayoutGap="20px">
    <mat-card class="cus3">
      <div>
        <mat-form-field class="cus3-field">
          <mat-label>Address Line 1</mat-label>
          <input type="text" matInput placeholder="No.24" [(ngModel)]="customer.address_ln1" name="address_ln1">
        </mat-form-field>
        <br>
        <mat-form-field class="cus3-field">
          <mat-label>Address Line 2</mat-label>
          <input type="text" matInput placeholder="Dalugama" [(ngModel)]="customer.address_ln2" name="address_ln2">
        </mat-form-field>
       <br>
       </div>
    </mat-card>
    <mat-card class="cus4">
      <div>
        <mat-form-field class="cus4-field">
          <mat-label>City/District</mat-label>
          <input type="text" matInput placeholder="Kelaniya" [(ngModel)]="customer.city" name="city">
        </mat-form-field>
        <mat-form-field class="cus4-field">
          <br>
          <mat-label>Province</mat-label>
          <mat-select [(ngModel)]="customer.province" name="province">
            <mat-option value="Central">Central</mat-option>
            <mat-option value="Eastern">Eastern</mat-option>
            <mat-option value="North Central">North Central</mat-option>
            <mat-option value="Nothern">Nothern</mat-option>
            <mat-option value="North Western">North Western</mat-option>
            <mat-option value="Sabaragamuwa">Sabaragamuwa</mat-option>
            <mat-option value="Southern">Southern</mat-option>
            <mat-option value="Uva">Uva</mat-option>
            <mat-option value="Western">Western</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
     </mat-card>
  </div>
 <br>
 <br>
 <mat-divider></mat-divider>
  <br>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button class="submit-btn" mat-raised-button color="primary" click="onSubmit()">SUBMIT</button>
  <button class="reset-btn" mat-raised-button type="button" (click)="resetForm()">RESET</button>
  </div>
</form>

