// .addcustomer-field{
//   width: 40%;
// }
// .form-part1{
//   padding: 10px;
//   margin: 20px auto;
//   box-sizing: border-box;
//   // display: flex;
//   justify-content: space-between;
// }
.addcustomer-form{
  overflow: scroll;
}
.cus1{
  width: 50%;
}
.cus2{
  width: 50%;
}

.cus3{
  width: 50%;
}
.cus4{
  width: 50%;
}

.cus1-field{
  width: 100%;
}

.cus1-field1{
  width: 100%;
}

.cus2-field{
  width: 100%;
}

.cus3-field{
  width: 100%;
}

.cus4-field{
  width: 100%;
}
.upload-btn{
  background: green;
  color: white;
}
.reset-btn{
  background: red;
  color: white;
}
