<div *ngIf="vehicles?.length>0;else noVehicles">
  <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
    <ng-container matColumnDef="vehicle_no">
      <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.vehicle_no}} </td>
    </ng-container>
    <ng-container matColumnDef="rl_no">
      <th mat-header-cell *matHeaderCellDef>Revenue License Number</th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.revenuelicense_no}} </td>
    </ng-container>
    <ng-container matColumnDef="rl_expiry">
      <th mat-header-cell *matHeaderCellDef>Revenue license Expiry Date</th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.revenuelicense_expiry.seconds*1000 | date}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicle_size">
      <th mat-header-cell *matHeaderCellDef>Vehicle Size</th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.vehicle_size}} </td>
    </ng-container>

    <ng-container matColumnDef="tel_no">
      <th mat-header-cell *matHeaderCellDef>Telephone Number</th>
      <td mat-cell *matCellDef="let vehicles"> {{vehicles.telephone_no}} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let vehicles">
        <button mat-icon-button class="dlt_btn" (click)="callDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="vehiclesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: vehiclesColumns;"></tr>
     <ng-template #callDLTDialog *ngFor="let vehicle of vehicles">
      <h1 mat-dialog-title>Alert!</h1>
      <div mat-dialog-content>
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
        <button mat-raised-button [mat-dialog-close]="">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="" (click)="deleteVehicle(vehicle)" color="primary">Yes</button>
      </div>
</ng-template>
  </table>

  </div>
  <ng-template #noVehicles>
    <hr>
    <h5>There are no current registered vehicles</h5>
  </ng-template>










