<div *ngIf="customers?.length>0;else noCustomers">
    <table mat-table [dataSource]="customers" class="mat-elevation-z8">
      <ng-container matColumnDef="customer_id">
        <th mat-header-cell *matHeaderCellDef> Customer ID </th>
        <td mat-cell *matCellDef="let customers"> {{customers.customer_id}} </td>
      </ng-container>
      <ng-container matColumnDef="customer_name">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let customers"> {{customers.first_name}} {{customers.last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let customers"> {{customers.address_ln1}},{{customers.address_ln2}},{{customers.city}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let customers"> {{customers.email}} </td>
      </ng-container>
      <ng-container matColumnDef="telephone_no">
        <th mat-header-cell *matHeaderCellDef>Telephone Number</th>
        <td mat-cell *matCellDef="let customers"> {{customers.tel_no}} </td>
      </ng-container>
      <ng-container matColumnDef="KM_RLH">
        <th mat-header-cell *matHeaderCellDef>Distance from RLH</th>
        <td mat-cell *matCellDef="let customers"> {{customers.distance}}  </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let customers">
          <button mat-icon-button class="edit_btn" routerLinkActive="list-item-active" routerLink="/addcustomers" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let customers">
          <button mat-icon-button class="dlt_btn" (click)="callDialog()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="customerColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: customerColumns;"></tr>
      <ng-template #callDLTDialog *ngFor="let customer of customers">
        <h1 mat-dialog-title>Alert!</h1>
        <div mat-dialog-content>
          <p>Are you sure you want to delete this item?</p>
        </div>
        <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
          <button mat-raised-button [mat-dialog-close]="">Cancel</button>
          <button mat-raised-button [mat-dialog-close]="" (click)="deleteCustomer(customer)" color="primary">Yes</button>
        </div>
  </ng-template>
    </table>
</div>
<div>
  <ng-template #noCustomers>
    <hr>
    <h5>There are no current customers</h5>
  </ng-template>
</div>

