<!-- <div>
  Number of Orders
  <app-ordersnumchart></app-ordersnumchart>
</div> -->
<!-- <br> -->
<mat-divider></mat-divider>
<br>
<!--Statistic cards-->
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-adminstatcard1></app-adminstatcard1>
  </mat-card>
  <mat-card fxFlex="25">
    <app-adminstatcard2></app-adminstatcard2>
  </mat-card>
  <mat-card fxFlex="25">
<app-adminstatcard3></app-adminstatcard3>
  </mat-card>
  <mat-card fxFlex="25">
    <app-adminstatcard4></app-adminstatcard4>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>

<!--Dashboard chart-->
<app-admindashchart></app-admindashchart>
