<div *ngIf="salesagents?.length>0;else noSalesAgents">
  <table mat-table [dataSource]="salesagents" class="mat-elevation-z8">
    <ng-container matColumnDef="employee_id">
      <th mat-header-cell *matHeaderCellDef> Employee ID </th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.employee_id}} </td>
    </ng-container>
    <ng-container matColumnDef="agent_name">
      <th mat-header-cell *matHeaderCellDef>Sales Agent Name</th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.first_name}} {{salesagents.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="mobile_no">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.mobile_no}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.email}} </td>
    </ng-container>
    <ng-container matColumnDef="sbu">
      <th mat-header-cell *matHeaderCellDef>SBU</th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.sbu}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let salesagents">
        <button mat-icon-button class="edit_btn" (click)="callEditDialog(salesagents)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let salesagents">
        <button mat-icon-button class="dlt_btn" (click)="deleteSalesAgents(salesagents)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="salesagentColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: salesagentColumns;"></tr>

    <ng-template #callEDITDialog>
      <h2>Edit Sales Agent Details</h2>

<form class="addsalesagent-form">

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px" class="salesagent-form">

    <div class="form-part1">
      <mat-card class="sales1">
        <div>
          <mat-form-field class="sales1-field">
            <mat-label>First Name</mat-label>
            <input type="text" matInput placeholder="John" [(ngModel)]="this.saedit.first_name" name="first_name">
          </mat-form-field>
          <br>
          <mat-form-field class="sales1-field">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput placeholder="Doe" [(ngModel)]="this.saedit.last_name" name="last_name">
          </mat-form-field>
          <br>
          <mat-form-field class="sales1-field">
            <mat-label>DOB: {{saedit.dob.seconds*1000 | date}}</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="this.saedit.dob" name="dob">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card>
      <br><br>
      <mat-divider></mat-divider>
      <br>
      <div class="sales2">
        Address
      <br>
      <mat-card>
        <div>
          <mat-form-field class="sales2-field">
            <mat-label>Address Line 1</mat-label>
            <input type="text" matInput placeholder="No.24" [(ngModel)]="this.saedit.address_ln1" name="address_ln1">
          </mat-form-field>
          <br>
          <mat-form-field class="sales2-field">
            <mat-label>Address Line 2</mat-label>
            <input type="text" matInput placeholder="Dalugama" [(ngModel)]="this.saedit.address_ln2" name="address_ln2">
          </mat-form-field>
          <br>
          <mat-form-field class="sales2-field">
            <mat-label>City/District</mat-label>
            <input type="text" matInput placeholder="Kelaniya" [(ngModel)]="this.saedit.city" name="city">
          </mat-form-field>
          <br>
         </div>
      </mat-card>
      </div>

    </div>


    <div class="form-part2">

      <mat-card class="sales3">
        <div>
          <mat-form-field class="sales3-field">
            <mat-label>Employee ID</mat-label>
            <input type="text" matInput placeholder="921564564V" [(ngModel)]="this.saedit.employee_id" name="employee_id">
          </mat-form-field>
          <br>
          <mat-form-field class="sales3-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="abc@gmail.com" [(ngModel)]="this.saedit.email" name="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field class="sales3-field">
            <mat-label>Mobile No.</mat-label>
            <input type="text" matInput placeholder="714568424" maxlength="9" [(ngModel)]="this.saedit.mobile_no" name="mobile_no">
          </mat-form-field>
        <br>
        </div>
       </mat-card>
<br><br>
<mat-divider></mat-divider>
<br><br>

    </div>
   </div>
 <br><br>
  <mat-divider></mat-divider>
  <br>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" class="form-part3">
    <button class="reset-btn" mat-raised-button [mat-dialog-close]="false">CANCEL</button>
    <button class="submit-btn" mat-raised-button [mat-dialog-close]="true" color="primary" (click)="editSalesAgent(this.saedit)">SUBMIT</button>
  </div>
</form>



</ng-template>
  </table>
  </div>
  <ng-template #noSalesAgents>
    <hr>
    <h5>There are no current registered sales agents</h5>
  </ng-template>




