table {
  width: 100%;
}
.dlt_btn{
  color:red ;
}

.form-part1{
  width: 50%;
}

.form-part2{
  width: 50%;
}

.sales1-field{
  width: 100%;
}

.sales2-field{
  width: 100%;
}

.sales3-field{
  width: 100%;
}

.sales4-field{
  width: 100%;
}


