<div *ngIf="salesagents?.length>0;else noSalesAgents">
  <table mat-table [dataSource]="salesagents" class="mat-elevation-z8">
    <ng-container matColumnDef="agent_id">
      <th mat-header-cell *matHeaderCellDef> Sales Agent ID </th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.agent_id}} </td>
    </ng-container>
    <ng-container matColumnDef="agent_name">
      <th mat-header-cell *matHeaderCellDef>Sales Agent Name</th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.first_name}} {{salesagents.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="mobile_no">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.mobile_no}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let salesagents"> {{salesagents.email}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let salesagents">
        <button mat-icon-button class="edit_btn" routerLinkActive="list-item-active" routerLink="/addsalesagents" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let salesagents">
        <button mat-icon-button class="dlt_btn" (click)="callDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="salesagentColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: salesagentColumns;"></tr>
    <ng-template #callDLTDialog *ngFor="let salesagent of salesagents">
      <h1 mat-dialog-title>Alert!</h1>
      <div mat-dialog-content>
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
        <button mat-raised-button [mat-dialog-close]="">Cancel</button>
        <button mat-raised-button  [mat-dialog-close]="" (click)="deleteSalesAgents(salesagent)" color="primary">Yes</button>
      </div>
</ng-template>
  </table>
  </div>
/
  <ng-template #noSalesAgents>
    <hr>
    <h5>There are no current registered sales agents</h5>
  </ng-template>




