.form-part1{
  width: 50%;
}

.form-part2{
  width: 50%;
}

.addsalesagent-form{
overflow:scroll;
}
.sales1-field{
  width: 100%;
}

.sales2-field{
  width: 100%;
}

.sales3-field{
  width: 100%;
}

.sales4-field{
  width: 100%;
}

.reset-btn{
  background: red;
  color: white;
}
