<br>
<h1>Route List</h1>
<div *ngIf="disroutes?.length>0;else noRoutes">
    <table mat-table [dataSource]="disroutes" class="mat-elevation-z8">
      <ng-container matColumnDef="Route_Name">
        <th mat-header-cell *matHeaderCellDef> Route name </th>
        <td mat-cell *matCellDef="let disroutes"> {{disroutes.route_name}} </td>
      </ng-container>
      <ng-container matColumnDef="cities">
        <th mat-header-cell *matHeaderCellDef>Cities</th>
        <td mat-cell *matCellDef="let disroutes"> {{disroutes.cities}}  </td>
      </ng-container>
      <ng-container matColumnDef="assinged_person">
        <th mat-header-cell *matHeaderCellDef>Assigned Person</th>
        <td mat-cell *matCellDef="let disroutes"> {{disroutes.agent}}  </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let disroutes">
          <button mat-icon-button class="edit_btn" (click)="callAssignment()" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let disroutes">
          <button mat-icon-button class="dlt_btn" (click)="callDialog()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="routeColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: routeColumns;"></tr>
      <ng-template #callDLTDialog *ngFor="let disroute of disroutes">
        <h1 mat-dialog-title>Alert!</h1>
        <div mat-dialog-content>
          <p>Are you sure you want to delete this item?</p>
        </div>
        <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
          <button mat-raised-button [mat-dialog-close]="">Cancel</button>
          <button mat-raised-button [mat-dialog-close]="" (click)="deleteRoute(disroute)" color="primary">Yes</button>
        </div>
  </ng-template>
  <ng-template #assignAgent *ngFor="let disroute of disroutes">
    <h1 mat-dialog-title>Change the Assigned person?</h1>
    <p>Select the sales agent:</p>
    <div mat-dialog-content>
      <mat-select [(ngModel)]="assigned_person" name="sales_agent">
        <mat-option value="">- Select -</mat-option>
        <mat-option *ngFor="let sales_agent of sales_agents" [value]="sales_agent.first_name +'  '+ sales_agent.last_name">{{sales_agent.first_name}} {{sales_agent.last_name}}  </mat-option>
      </mat-select>
    </div>
    <br>
    <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
      <button mat-raised-button [mat-dialog-close]="">Cancel</button>
      <button mat-raised-button [mat-dialog-close]="" (click)="updateRoue(disroute)" color="primary">Done</button>
    </div>
</ng-template>
    </table>
    </div>

    <ng-template #noRoutes>
      <hr>
      <h5>No routes had been added yet</h5>
    </ng-template>
