table {
    width: 100%;
  }

  .editdriver-field{
    width: 100%;
  }

  .editdriver1-field{
    width: 80%;
  }

  .editdriver2-field{
    width: 20%;
  }

  .dlt_btn{
    color:red ;
  }

  .driver-field{
    width: 100%;
  }
