table {
  width: 100%;
}
.dlt_btn{
  color:red ;
}

.add-order{
  width: 100%;
}

.addorder-form{
  overflow:scroll;
}

.form-part1{
  width: 50%;
}

.form-part2{
  width: 50%;
}

.ord1-field{
  width:100%
}

.ord1-field2{
  width:90%
}

.ord1-field3{
  width:10%
}

.ord2-field{
  width:100%
}

.ord3-field{
  width:100%
}

.ord4-field{
  width:100%
}

.upload-btn{
  background: green;
  color: white;
}

.reset-btn{
  background: red;
  color: white;
}

.route-btn{
  background: rgb(41, 74, 124);
  color: white;
  height: 30px;
  width:40px;
  border-radius: 5px;
}

