<div *ngIf="orders?.length>0;else noOrders">
  <table mat-table [dataSource]="orders" class="mat-elevation-z8">
    <ng-container matColumnDef="order_date">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td mat-cell *matCellDef="let orders"> {{ orders.order_date.seconds*1000 | date}}  </td>
    </ng-container>
    <ng-container matColumnDef="invoice_no">
      <th mat-header-cell *matHeaderCellDef>Invoice Number</th>
      <td mat-cell *matCellDef="let orders"> {{orders.invoice_no}} </td>
    </ng-container>
    <ng-container matColumnDef="customer_name">
      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
      <td mat-cell *matCellDef="let orders"> {{orders.customer_name}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let orders"> {{orders.address_ln1}},{{orders.address_ln2}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let orders"> {{orders.city}} </td>
    </ng-container>
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>Distance</th>
      <td mat-cell *matCellDef="let orders"> {{orders.distance}} </td>
    </ng-container>
    <ng-container matColumnDef="route">
      <th mat-header-cell *matHeaderCellDef>Route</th>
      <td mat-cell *matCellDef="let orders"> {{orders.route}} </td>
    </ng-container>
    <ng-container matColumnDef="sales_agent">
      <th mat-header-cell *matHeaderCellDef>Sales Agents</th>
      <td mat-cell *matCellDef="let orders"> {{orders.sales_agent}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let orders"> {{orders.status}} </td>
    </ng-container>
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let orders">
        <button mat-icon-button class="edit_btn" color="primary" (click)="view(orders)">
         View
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let orders">
        <button mat-icon-button class="dlt_btn" (click)="callDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="ordercolumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ordercolumns;"></tr>
    <ng-template #callDLTDialog *ngFor="let order of orders">
      <h1 mat-dialog-title>Alert!</h1>
      <div mat-dialog-content>
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
        <button mat-raised-button [mat-dialog-close]="">CANCEL</button>
        <button mat-raised-button [mat-dialog-close]="" (click)="deleteOrder(order)" color="primary">YES</button>
      </div>
</ng-template>
  </table>
  </div>

  <ng-template #noOrders>
    <hr>
    <h5>There are no current orders</h5>
  </ng-template>
