<app-header></app-header>
<mat-drawer-container class="drawer-container">
  <mat-drawer class="drawer" mode="side" [opened]="true">
    <mat-nav-list class="sidenav">
      <div class="profile-card">
        <div class="header" *ngIf="user">
         <h2>
          {{user?.displayName}}
         </h2>
         <!-- <mat-label class="profile-label">
          {{user?.role}}
        </mat-label> -->
         <h4>{{user?.email}}</h4>
        </div>
        <img class="img-responsive" src="assets/Images/avatar.png">
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/admindashboard">Dashboard</a>

        <mat-accordion>
          <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/viewcustomers">Customers</a>
    <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/vieworders">Orders</a>
    <!-- <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/viewinvoices">Invoices</a> -->
    <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/viewdrivers">Drivers</a>
    <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/viewsalesagents">Sales Agents</a>
    <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/viewvehicles">Vehicles</a>
    <!-- <a mat-list-item class="listitem" routerLinkActive="list-item-active" routerLink="/viewdisroutes">Routes</a> -->

    </mat-accordion>
      </div>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>

