<br>
<h2>Add Vehicle Details</h2>
<form class="addvehicle-form" (ngSubmit)="onSubmit()">
  <div fxLayoutAlign="space-between start" fxLayoutGap="20px" class="vehicles-form">

    <div class="form-part1">

      <mat-card class="vehicles1">
        <div>
          <mat-form-field class="vehicles1-field">
            <mat-label>Vehicle Number</mat-label>
            <input type="text" matInput placeholder="KD-1564" [(ngModel)]="vehicle.vehicle_no" name="vehicle_no">
          </mat-form-field>
          <br>
          <mat-form-field class="vehicles1-field">
            <mat-label>Vehicle Size</mat-label>
            <mat-select name="vehicle_size" [(ngModel)]="vehicle.vehicle_size">
              <mat-option value="Small">Small</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="Large">Large</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="vehicles1-field">
            <mat-label>Revenue License Number</mat-label>
            <input type="text" matInput placeholder="4545dfgf" [(ngModel)]="vehicle.revenuelicense_no" name="revenuelicense_no">
          </mat-form-field>
        <br>
         <mat-form-field class="vehicles1-field">
          <mat-label>Revenue License Expiry Date</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="vehicle.revenuelicense_expiry" name="revenuelicense_expiry">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        </div>
      </mat-card>
    </div>

    <div class="form-part2">

      <mat-card class="vehicles3">
        <mat-form-field class="vehicles3-field">
          <mat-label>Insurance Expiry Date</mat-label>
          <input matInput [matDatepicker]="picker1" name="insurance_expiry">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field class="vehicles3-field">
          <mat-label>Insurance Company</mat-label>
          <input type="text" matInput placeholder="ABC Company Pvt Ltd" name="insurance_company">
        </mat-form-field>
        <br>
        <mat-form-field class="vehicles3-field">
          <mat-label>Telephone Number</mat-label>
          <input type="text" matInput placeholder="112254864" name="insurancetel_no">
        </mat-form-field>
      </mat-card>
      <br><br>
     
      
     

    </div>

  </div>

 <br>
 <mat-divider></mat-divider>
  <br>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="form-part3">
    <button class="submit-btn" mat-raised-button color="primary" click="onSubmit()">SUBMIT</button>
  <button class="reset-btn" mat-raised-button>RESET</button>
  </div>
</form>

